@import '../../assets/styles/mixins.scss';

.nav-list {
  color: yellow;
}

.container {
  height: inherit;
  overflow: hidden;

  // start
  .scroll-container {
    overflow: hidden;
    position: relative;

    .top {
      width: 100%;
      height: 2rem;
      background: #fefefe;
      @include border_1px(1px, #f4f4f4);
      box-shadow: 0 0px 5px -2px;

      >.pos {
        height: 1rem;

        >.pos-touch {
          float: left;
          padding: 0.4rem 0 0 0.7rem;

          >a {
            text-decoration: underline;
          }

          >i {
            margin-left: 0.03rem;
            font-size: 0.18rem;
          }
        }

        >.pos-right {
          float: right;
          padding: 0.3rem 0 0 0;

          >img {
            vertical-align: middle;
            margin: 0 0.1rem;
            width: 0.35rem;
            height: 0.35rem;
          }

          >i {
            vertical-align: middle;
            margin: 0 0.1rem;
            font-size: 0.25rem;
          }
        }
      }

      >.gold {
        height: 1rem;

        >.gold-count {
          margin-top: 0.1rem;
          float: left;
          margin-left: 0.2rem;

          >a {
            font-size: 0.14rem;
          }

          img {
            margin: 0 0.01rem;
            vertical-align: middle;
            width: 0.16rem;
            height: 0.16rem;
          }

          >h2 {
            font-size: 0.22rem;
            margin-top: 0.1rem;
            text-decoration: underline;
          }
        }

        >.gold-btn {
          float: right;

          >li {
            float: left;
            width: 0.5rem;
            margin: 0.05rem 0.05rem;
            text-align: center;

            >img {
              display: block;
              width: 0.5rem;
              height: 0.5rem;
              margin-bottom: 0.05rem;
            }

            span {
              font-size: 0.12rem;
            }
          }
        }
      }
    }

    .content {
      background: #f9f9f9;
      overflow: hidden;

      >.delivery {
        padding: 0.3rem 0.16rem;
        padding-bottom: 0.1rem;

        img {
          width: 1.6rem;
          margin: 0 0.05rem;
        }
      }

      >.spirit {
        height: 2rem;
        padding: 0 0.1rem;

        .spirit-ul {
          width: 4.9rem;

          >li {
            float: left;
            text-align: center;
            margin: 0.05rem 0.05rem 0 0.05rem;

            >img {
              display: block;
              width: 0.6rem;
              height: 0.6rem;
            }

            >span {
              font-size: 0.12rem;
            }
          }
        }

        .spirit-pagi {
          margin: 0 auto;
          margin-top: -0.2rem;
          // pagi图片，这里需要给个定位和大小
          width: 0.4rem;
          height: 0.04rem;
          position: relative;
          border-radius: 0.11rem;
          overflow: hidden;
          background: #e4e4e4;

          >.pagi1 {
            position: absolute;
            left: 0;
            height: 0.04rem;
            width: 60%;
            background: red;
            border-radius: 0.11rem;
          }

          >.pagi2 {
            display: none;
            position: absolute;
            right: 0;
            height: 0.04rem;
            width: 60%;
            background: red;
            border-radius: 0.11rem;
          }
        }
      }

      >.content-banner {
        margin-bottom: 0.16rem;

        .swiper-slide {
          width: 3.1rem;
        }

        img {
          width: 3.1875rem;
        }
      }

      >.content-list {
        >.content-li {
          background: #fff;
          padding: 0.1rem 0;
          margin-bottom: 0.1rem;
          text-align: center;

          >.li-title {
            text-align: center;

            >.stripe {
              vertical-align: middle;
              display: inline-block;
              background: red;
              width: 0.18rem;
              height: 0.03rem;
              border-radius: 0.15rem;
            }

            >span {
              padding: 0 0.15rem;
              font-weight: bold;
              font-size: 0.16rem;
              text-decoration: underline;
            }
          }

          >.img-bg {
            margin: 0 auto;
            margin-top: 0.1rem;
            width: 3.37rem;
            height: 1.42rem;

            img {
              width: 3.37rem;
            }
          }

          .li-banner {
            margin: 0.1rem 0.19rem 0 0.19rem;

            .li-banner-ul {
              overflow: hidden;

              >li {
                float: left;
                margin-right: 0.09rem;

                >.img-sm {
                  width: 1.35rem;
                  height: 1.73rem;

                  img {
                    width: 1.35rem;
                  }
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  // 绝对定位下单
  .order-abs {
    display: none;
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    height: 0.8rem;
    padding: .1rem 0;
    box-sizing: border-box;
    box-shadow: 0 0px 10px -3px;

    img {
      width: 0.6rem;
      margin: 0 .1rem;
    }

    .txt-container {
      vertical-align: middle;
      display: inline-block;
      height: 0.6rem;

      span {
        font-size: .18rem;
        color: #D93135;
        font-weight: 600;
      }
    }

    >.waisong {
      float: left;
      margin-left: .1rem;
    }

    >.zizhu {
      float: right;
      margin-right: .1rem;
    }

    >.stripe {
      position: absolute;
      width: 0.02rem;
      height: 0.3rem;
      background: #E9E9E9;
      top: .28rem;
      left: 50%;
      margin-right: -0.01rem;
    }
  }

  .to-top {
    display: none;
    position: absolute;
    bottom: 0;
    height: .57rem;
    width: 0.93rem;
    text-align: center;
    background: #fff;
    z-index: 1;

    >img {
      margin-top: .1rem;
      width: 0.4rem;
    }
  }
}